.contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  gap: 15px;
  font-family: Arial, sans-serif;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #0f172a;
  border: 1px solid #14b8a6;
  color: white;
  transition: all 0.25s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #14b8a6;
  box-shadow: 0 0 12px rgba(20, 184, 166, 0.6);
  outline: none;
  transform: scale(1.01);
}

.contact-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset;
  -webkit-text-fill-color: white !important;
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #94a3b8;
}

.enviar-button {
  font-weight: 600;
  width: 160px;
  align-self: center;
  background-color: #14b8a6;
  color: aliceblue;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.enviar-button:hover {
  background-color: #0d9488;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
